# Secrets
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log

# Build / packaging artifacts
*.egg-info/
build/
dist/

# Test reports
reports/
results/